/* 
    .table-cell-bg{
    background-color: chartreuse;
} */


input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* create custom checkbox appearance */
    display: inline-block;
    width: 75px;
    height: 75px;
    padding: 5px;
    /* background-color only for content */
    /*background-clip: content-box;*/
    border: black;
    border-radius: 1px;
    background-color: #d1d1d1;
    /*margin-left: 15px;
    margin-right: 15px;*/
}

input[type=checkbox]:checked {
        background: #638745 -19px top no-repeat;
      }